.backdrop.is-hidden {
  overflow: visible;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 290px;
  @media screen and (min-width: 480px) {
    width: 450px;
    padding: 40px;
  }
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  // box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
  //   0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}
.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16px;

  letter-spacing: 0.01em;

  color: #000000;
  padding-left: 42px;
  padding-right: 15px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &:focus + .input-icon {
    fill: var(--accent-color);
  }
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-input-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;

  margin-bottom: 4px;
  left: 0;
  display: block;
  text-align: left;
}
.modal-field-input {
  margin-bottom: 10px;
}
.modal-field {
  margin-bottom: 20px;
}

.button-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

.modal-btn {
  padding: 10px 55px;
  font-size: 16px;
  line-height: 1.8;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-bg-color);
  background: #2196f3;
  border-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: border-color background-colo 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
    border-color: #188ce8;
  }
}

.close {
  color: #000000;

  top: 0;
  right: 0;
}

.check-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }

  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #757575;
  display: flex;
}
.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-icon {
  fill: #ffffff;
}
.check-link {
  color: var(--accent-color);
  text-decoration: revert;
  margin-left: 4px;
}
.modal-check:checked + .check-text {
  .check-item {
    background-color: var(--accent-color);
    border: none;
  }
}
.modal-check:focus + .check-text {
  .check-item {
    border-color: var(--accent-color);
  }
}
