.section {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--primamy-text-color);

  background-color: var(--primary-bg-color);
}
.section-feature {
  padding-top: 94px;
  padding-bottom: 0;
}
.section-bg {
  padding-bottom: 95px;
  background-color: #f5f4fa;
}

.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
