.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  color: var(--primamy-text-color);

  background-color: var(--primary-bg-color);
}
.section-feature {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}
.section-bg {
  padding-bottom: 60px;
  background-color: #f5f4fa;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
