body {
  background-color: var(--primary-bg-color);
  color: var(--primamy-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}
header {
  border-bottom: 1px solid #ececec;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
